<h1> Insert your ethereum address or name</h1>

<div>
    <!-- <md-form-field>
        <input mdInput placeholder="address" [(ngModel)]="buyerAddress">
        <md-icon mdSuffix>mode_edit</md-icon>
    </md-form-field> -->
    <md-select [(ngModel)]="user" placeholder="User">
        <md-option *ngFor="let user of users" [value]="user">
            {{user.name}}
        </md-option>
    </md-select>
</div>

<md-list>
    <h3 md-subheader>Offers</h3>
    <md-list-item *ngFor="let offer of offers">
        <md-icon md-list-icon>assignment</md-icon>
        <h4 md-line>{{offer.name}}</h4>
        <p md-line> {{offer.address }} </p>
        <md-form-field class="buyBtn" md-line>
            <input type="number" mdInput placeholder="Place number" [(ngModel)]="ticketNumber">
        </md-form-field>
        <button class="buyBtn" md-line md-raised-button (click)="buyTicket($event, offer)">Buy Ticket</button>
    </md-list-item>
</md-list>


<h1> Check ticket owner </h1>
<div>
    <md-form-field>
        <input mdInput placeholder="Contract address" [(ngModel)]="contractCheckAddr">
        <md-icon mdSuffix>mode_edit</md-icon>
    </md-form-field>
</div>
<div>
    <md-form-field>
        <input mdInput type="number" placeholder="Ticket id" [(ngModel)]="contractCheckNum">
        <md-icon mdSuffix>mode_edit</md-icon>
    </md-form-field>
</div>
<div>
    <button class="buyBtn" md-line md-raised-button (click)="checkTicket($event)">Check ticket</button>
</div>